@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    background-color: var(--sec);
    letter-spacing: 1px;
    font-family: Poppins;
    /* transition:background-color .25s,color .25s; */
}

:root {
    --light: rgb(255, 255, 255);
    --light2: antiquewhite;
    --prim: #4148d0;
    --sec: #ffffff;
    --hov-light: #4148d0;
    --hov-dark: var(--prim);
    --trans-light: rgba(255, 255, 255, 0.8);
    --trans-dark: rgba(0, 0, 0, 0.788);
    --text-col-big: #fae3e3;
    --text-col-small: rgba(0, 0, 0, 0.6);
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
}

.logoo {
    height: 5.2rem;
    width: 5rem;
}

nav {

    letter-spacing: 1px;
    font-family: Poppins, serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--prim);
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
}

.heading {
    font-family: Ubuntu;
    color: black;
    font-size: 1.9rem;
    /* margin-top: rem; */
    margin-bottom: 0.1rem;
    font-weight: 900;
    /* margin-left: rem; */
    /* margin-left: 3rem; */
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}


.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#menu {
    display: block;
    margin: auto;
    /* margin-top:rem; */
    margin-right: 1rem;
    margin-left: 5rem;
}

#navbar {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 1.15rem;

    /* flex-direction: column; */
    /* align-items: center; */
}

.listtt {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.gr {
    padding: 0.32rem 2.2rem;
}

.litem a:hover {
    /* color:  rgb(242, 232, 232); */
    color: var(--hov-light);
}

.current {
    color: var(--hov-light);
}

#icons {
    margin-right: 3rem;
}

.sg {
    border-radius: 2rem;
    border: .1rem solid #12bcfe;
    padding: 2;
    cursor: pointer;
    margin: 0rem .4rem;
}

.sg a {
    color: #1259fe;
    font-family: Poppins;
    font-weight: 100;
    padding: .2rem .8rem;
}

.items {
    /* background-color: blanchedalmond; */
    /* border:2px solid green; */
    color: black;
    margin: 0.34rem;
    font-size: 1.1rem;

}

.container {
    /* margin: 5rem 9.5rem; */
}


.flex {
    display: flex;
}

.headcon {
    margin-left: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.shadow-effect {
    /* font-family: 'Tilt Wrap', cursive; */
    color: rgba(65, 72, 208,0.4);
    display: inline;
    position: relative;
    right: 5rem;
    top: .96rem;
    font-weight: bolder;
}

body{
    background-color: rgb(218, 236, 254);
}

.bgContainer{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    justify-content: center;
}
.games{
    margin-left: 0px;
    margin-right: 0px;
  margin: 2rem 0rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    /* column-gap: 2px; */
}
#game1,#game2,#game3,#game4,#game5,#game6{
    margin: 6px 0px;
    padding: 0;
    border-radius: 10px;
}
#game6 :hover{
    border: 10px;
    border-color: black;

}
.row{
    row-gap: 20px;
}

.videos{
    /* display: ; */
    margin-left: 0px;
    margin-right: 0px;
    margin: 2rem 0rem;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255);
    padding: 15px 10px;
    border-radius: 15px;
    /* column-gap: 5px; */
}

iframe{
    border-radius: 10px;
    opacity: 0.9;
}


/* todo list css */
.card{
    overflow-y: scroll;
    height: 260px;
    border-radius: 15px;
}
.add-list,
.ul-list{
    padding: 0px;
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.del-btn
{
    background-color: rgb(102,80,255);
    padding: 5px 3px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    font-weight: bolder;
    width: 80px;
    height: 50px;
    float: right;
    
}
.del-btn:hover{
    background-color: rgba(149, 162, 247, 0.8);
}
.list
{
    list-style: none;  
    border-radius: 10px;
    padding: 10px 20px;
    height: 40px;
    font-size: medium;
    font-weight: 400;
}

#lists{
    row-gap: 10px;
}
#li_div{
    background-color: rgb(237,235,252);
    margin-top: 5px;
    border: 5px;
    border-color: black;
    display: flex;
    column-gap: 8px;
    padding: 7px;
    border-radius: 15px;
    width: 45vw;
    justify-content: space-between;
}

/* breathe */
#circle {
    background-color: rgba(244, 244, 244, 0.85);
    width: 35vh;
    height:35vh;
    border-radius: 50%;
    position: absolute;
    /* top: 47%; */
    /* left: 70%; */
    margin-top: 20px; 
    margin-left: 100px;
  }

.circle-header{
    /* top: 10%; */
    /* left: 77%; */
    /* margin-top: px;  */
    margin-right: 50px;
  }
   
#circle:hover {
    animation-name: breathing-circle;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
    @keyframes breathing-circle {
    0% {
      transform: scale(1);
    }
    41% {
      transform: scale(1.2);
    }
    49% {
      transform: scale(1.2);
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  .popup {
    font-size:10vh;
    color: rgba(0,0,0,0);
    font-family: 'Raleway', sans-serif;
    position:absolute;
    /* top:33%;
    left: 11%; */
    margin-top: 65px; 
    margin-left: 30px;
  }
  #exhale-message {
    /* left: 7%; */
    margin-top: 65px; 
    margin-left: 30px;
  }
  
  #circle:hover #inhale-message {
    animation-name: inh-direction;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #circle:hover #exhale-message {
    animation-name: exh-direction;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes inh-direction {
    0% {
      color: rgba(253, 193, 140, 0);
    }
    10% {
      color: rgba(253, 193, 140, 1);
    }
    40% {
      color: rgba(253, 193, 140, 1);
    }
    50% {
      color: rgba(253, 193, 140, 0);
    }
  }
  @keyframes exh-direction {
    0% {
      color: rgba(253, 193, 140,0);
    }
    50% {
      color: rgba(253, 193, 140,0);
    }
    60% {
      color: rgba(253, 193, 140, 1);
    }
    90% {
      color: rgba(253, 193, 140, 1);
    }
    100% {
      color: rgba(253, 193, 140, 0);
    }
  }
  
  @keyframes link-jump{
    0% {
      color: rgba(0, 0, 0, 0.70);
    }
    100% {
      color: black;
    }
  }
  
  #close-explanation {
    cursor: pointer;
  }

  .flex-container{
    display: flex;
    margin-left: 80px;
  }

.circle-container{
    /* display: ; */
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 15px 10px;
    border-radius: 15px;
    /* column-gap: 5px; */
}
.btn{
  background-color:(102,80,255) ;
}