@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
#main-pic {
    /* background-color: rgb(133, 177, 228); */
    padding: 5px;
    height: 98vh;
}

#bgContainer {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(218, 223, 228);
    padding: 5px;
    border-radius: 20px;
}

.game {
    width: 100px;
    height: 100px;
}

#matters {
    margin: 100px 60px;
    margin-bottom: 20px;
}

#main-txt {
    margin: 0px 60px;
}

#main-btn {
    margin: 10px 60px;
}

body {
    background-color: var(--sec);
    letter-spacing: 1px;
    font-family: Poppins;
    /* transition:background-color .25s,color .25s; */
}

:root {
    --light: rgb(255, 255, 255);
    --light2: antiquewhite;
    --prim: #4148d0;
    --sec: #ffffff;
    --hov-light: #4148d0;
    --hov-dark: var(--prim);
    --trans-light: rgba(255, 255, 255, 0.8);
    --trans-dark: rgba(0, 0, 0, 0.788);
    --text-col-big: #fae3e3;
    --text-col-small: rgba(0, 0, 0, 0.6);
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
}

.logoo {
    height: 5.2rem;
    width: 5rem;
}

nav {

    letter-spacing: 1px;
    font-family: Poppins, serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--prim);
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
}

.heading {
    font-family: Ubuntu;
    color: black;
    font-size: 1.9rem;
    /* margin-top: rem; */
    margin-bottom: 0.1rem;
    font-weight: 900;
    /* margin-left: rem; */
    /* margin-left: 3rem; */
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}

i {
    font-size: 1.6rem;
    margin: 0 auto;

}

i:hover {
    color: var(--hov-light);
}

.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#menu {
    display: block;
    margin: auto;
    /* margin-top:rem; */
    margin-right: 1rem;
    margin-left: 5rem;
}

#navbar {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 1.15rem;

    /* flex-direction: column; */
    /* align-items: center; */
}

.list {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.gr {
    padding: 0.32rem 2.2rem;
}

.litem a:hover {
    /* color:  rgb(242, 232, 232); */
    color: var(--hov-light);
}

.current {
    color: var(--hov-light);
}

#icons {
    margin-right: 3rem;
}

.sg {
    border-radius: 2rem;
    border: .1rem solid #12bcfe;
    padding: 2;
    cursor: pointer;
    margin: 0rem .4rem;
}

.sg a {
    color: #1259fe;
    font-family: Poppins;
    font-weight: 100;
    padding: .2rem .8rem;
}

body.light {
    /* --light:rgb(190, 182, 182); */
    --light: rgb(50, 45, 45);
    --light2: rgba(21, 21, 21, 0.8);
    --prim: rgb(190, 182, 182);
    --sec: antiquewhite;
    --hov-light: rgb(242, 232, 232);
    /* Below are not changed as of now */
    /* --trans-light:rgba(255, 255, 255,0.5); */
    --trans-light: #252830;
    --trans-dark: rgba(0, 0, 0, 0.1);
}

.img-main {
    height: 30rem;
    width: 50rem;
}

.items {
    /* background-color: blanchedalmond; */
    /* border:2px solid green; */
    color: black;
    margin: 0.34rem;
    font-size: 1.1rem;

}

.container {
    /* width: 70rem; */
    /* position: relative; */
    /* border:2px solid white; */
    margin: 5rem 9.5rem;
    /* margin-bottom: 3rem; */
}

.datetime {
    font-size: 0.7rem;
    padding: .5rem 0rem;
    color: rgba(250, 235, 215, 0.6);
}

.flex {
    display: flex;
}

.sampart {
    margin: 0.38rem;
    margin-top: .4rem;
    font-size: 1.1rem;
    color: var(--text-col-big);
}

.sampart:hover {
    color: #ffffff;
}

.headcon {
    margin-left: 4rem;
    font-size: 2.5rem;
}

.shadow-effect {
    /* font-family: 'Tilt Wrap', cursive; */
    color: rgba(65, 72, 208,0.4);
    display: inline;
    position: relative;
    right: 6.9rem;
    top: .96rem;
    font-weight: bolder;
}

#oldpost {
    color: var(--text-col-big);
}

#opcont {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 2fr 2fr;
    /* margin-left: .8rem; */
}

#opimg1 {
    background: url('./images/1op.png') center center/cover;
}

#opimg2 {
    background: url('./images/2op.png') center center/cover;
}

#opimg3 {
    background: url('./images/3op.png') center center/cover;
}

#opimg4 {
    background: url('./images/4op.png') center center/cover;
}



#ftimg1 {
    background: url('./images/cbot.avif') center center/cover;
    height: 20rem;
    width: 14rem;

}

#ftimg2 {
    background: url('./images/act3.jpg') center center/cover;
    height: 18rem;
    width: 26rem;
}

#ftimg3 {
    background: url('./images/com3.avif') center center/cover;
    height: 19rem;
    width: 24rem;

}

.ft{
    margin: 1rem 0rem;
}
.ftimg{
    border-radius: 8px;
 } 
.fttxt {
    font-family: Poppins;
    background-color: #4148d0;
    color: white;
    height: 15rem;
    border-radius: 2rem;
    padding: 2rem 2rem;
    width: 40rem;
    margin: 4rem 8rem;
    justify-content: center;
    align-items: center;
    
}
.ftname{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 1.5rem;
    border: 2px solid #12bcfe;
    border-radius: 12px;
    padding: 5px 16px;
    display: inline-block;
    text-align: center;
    margin: 1rem;
    /* margin-left: 3rem; */
}
#ftname1{
    margin-top: 0rem;
    margin-left: 2rem;
}
#ftname2{
    margin-left: 8rem;
}
#ftname3{
    margin-left: 5.8rem;
}
.ftname:hover{
    color:#007aff;
}
.op {
    height: 8rem;
    width: 28rem;
    border: .1rem solid #007aff;
    border-radius: 1rem;
    margin-right: .3rem;
}
.opit{
    /* margin: .8rem; */
    margin: .8rem .6rem;
}
.opcontent {
    background-color: var(--prim);
    padding: .4rem;
    cursor: pointer;
    transition: all 0.6s;
    border-radius: 6px;
}

.opcontent:hover {
    background-color: #234c98;
}

.optxt {
    padding: .5rem .4rem;
    padding-left: .2rem;
    padding-bottom: .2rem;
    color: white;
    /* border-radius: 6px; */
}

.welcome{
    font-family: Ubuntu;
    padding: 4rem;
    padding-bottom: 0rem;
    margin-left: 2rem;
    font-size: 2.5rem;
}
