<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MindSpace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'css/act.css' %}">
</head>
<style>
    
</style>
<body>
    {% comment %} <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary wide">
            <div class="container-fluid">
                <div class="logoo m-l-24">

                    <img src="{% static 'images/mainlogo.png' %}" alt="">
                </div>
                <a href="home">
                    <h2 class="navbar-brand heading">MindSpace</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex menu" id="menu">
                    <ul class="listtt" id="navbar">
                        <li class="litem nav-item"><a class="nav-link gr active link current" aria-current="page"
                                href="home">Home</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href=".">Activity</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href="doctor">Appointment</a></li>


                    </ul>
                </div>
                <div class="listtt flex" id="icons">
                    <button class="sg litem"><a class="gr" href="login" target="_blank">Login</a></button>
                    <button class="sg litem"><a class="gr" href="signup" target="_blank">Sign Up</a></button>
                </div>
            </div>
        </nav>
    </header> {% endcomment %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary wide">
            <div class="container-fluid">
                <div class="logoo m-l-24">

                    <img src="{% static 'images/mainlogo.png' %}" alt="">
                </div>
                <a href="home">
                    <h2 class="navbar-brand heading">MindSpace</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex menu" id="menu">
                    <ul class="list" id="navbar">
                        <li class="litem nav-item"><a class="nav-link gr active link current" aria-current="page"
                                href="home">Home</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href="activity/">Activity</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href="rooms/">Community</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href="info">Info</a></li>
                        <li class="litem nav-item"><a class="nav-link gr link" href="contact">Contact Us</a></li>


                    </ul>
                </div>
                <div class="list flex" id="icons">
                    <button class="sg litem"><a class="gr" href="logout" target="_self">Logout</a></button>
                    {% comment %} <button class="sg litem"><a class="gr" href="signup" target="_self">Sign Up</a></button> {% endcomment %}
                </div>
            </div>
        </nav>
    </header>

    <div class="flex-container">
        <!-- todo list -->
        <div class="bgContainer">
            <div class="container">
                <div class="heading headcon" id="bret">
                    Schedule
                    <div class="shadow-effect">SCHEDULE</div>
                </div>
                <div class="add-list">
                    <div class="card" style="width: 50vw;">
                        <!-- <h5 class="card-header fs-3">VIGHNESH'S TODO APP</h5> -->
                        <div class="card-body">
                            <h5 class="card-title">Enter your task</h5>
                            <!-- task input -->
                            <div class="input-group mb-3">
                                <span class="input-group-text fs-5" id="inputGroup-sizing-default">TASK</span>
                                <input id="main-input" type="text" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                    placeholder="Eg: Meditate">
                            </div>
                            <!-- submit task -->
                            <button class="btn btn-primary fs-6" id="add-btn">ADD</button>
                            <div class="ul-list">
                                <ul id="lists">
                                    <!-- all the tasks would be here -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <!-- meditate bubble -->
        <div class="bgContainer">
            <div class="container">
                <div class="heading headcon" id="bret">
                    Breathe
                    <div class="shadow-effect">BREATHE</div>
                </div>
                <div id="circle">
                    <div class="popup" id="inhale-message">Inhale</div>
                    <div class="popup" id="exhale-message">Exhale</div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="circle-header fw-2" style="margin-left:63rem;">Hover On The Circle To Breathe</h4>

    <div class="bgContainer">
        <div class="container">
            <div class="heading headcon" id="bret">
                Games
                <div class="shadow-effect">GAMES</div>
            </div>
            <div class="row games">
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/MahjongBlocksEaster/"><img src="{% static 'images/game1.webp' %}"
                            id="game1"></a>

                </div>
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/KillTheVirus/"><img src="{% static 'images/game2.webp' %}" id="game2"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/HappyBird/"><img src="{% static 'images/game3.webp' %}" id="game3"></a>

                </div>
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/AllThreesDomino/"><img src="{% static 'images/game4.webp' %}"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/SolitaireHarvest/"><img src="{% static 'images/game5.webp' %}" id="game5"></a>

                </div>
                <div class="col-sm-2">
                    <a href="https://cdn.htmlgames.com/AnimalTetris/"><img src="{% static 'images/game6.webp' %}" id="game6"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- yt videos -->
    <div class="bgContainer">
        <div class="container" class="yt_vd">
            <div class="heading headcon" id="bret">
                Videos
                <div class="shadow-effect">Videos</div>
            </div>
            <div class="row videos">
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/COp7BR_Dvps"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/sR6usrxtJRk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/3QIfkeA6HBY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgContainer">
        <div class="container" class="yt_vd">
            <div class="heading headcon" id="bret">
                Music
                <div class="shadow-effect">Music</div>
            </div>
            <div class="row videos">
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/COp7BR_Dvps"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/sR6usrxtJRk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-sm-4">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/3QIfkeA6HBY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div
      id="active_time"
      style="
        width: 100%;
        max-width: 700px;
        display: flex;
        justify-content: center;
      "
    ></div>
    <footer>
        <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <div class="text-white mb-3 mb-md-0">
                Copyright ©2023 MindSpace. All rights reserved.
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <iframe style="border: none;" height="600px" width="400px"
        src="https://widget.kommunicate.io/chat?appId=YOUR_APP_ID" allow="microphone; geolocation;">
    </iframe>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        (function (d, m) {
            var kommunicateSettings =
                { "appId": "11932ede39ce62a893db9ecb8fc1bb3fe", "popupWidget": true, "automaticChatOpenOnNavigation": true };
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let active_time = {{ active }};
        let dates = {{ dates }};
        console.log("hello")
        let data1 = [{
            x: dates,
            y: active_time,
            mode: "lines",
            type: "scatter"
        }];
        let layout1 = {
            xaxis: {range: [dates[0], dates[-1]], title: "Date"},
            yaxis: {range: active_time[-1], title: "Minutes"},
            title: "Active time"
        };
        Plotly.newPlot("active_time", data1, layout1);

        let flag=1;
        for(let i=0;i<6;i++){
          if(date[i+1]-date[i] > 1){
            flat = 0;
        }
      }
      if(flag==1){
        alert("You are on a streak")
      }
    </script>

    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>
